@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4298b5;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.translator-app {
    background-color: #fff;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: .5rem;
}
.textarea {
    display: flex;
    width: 100%;
}
@media (max-width: 767px) {
  .textarea {
    flex-direction: column;
    height: 330px;
  }
  .textarea textarea:first-of-type {
    border-right: 1px solid #999;
    border-bottom: none;
  }
}

.textarea textarea {
    flex: 1;
    height: 170px;
    border-radius: .15rem;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    resize: none;
}

.textarea textarea::-webkit-scrollbar {
    width: 3.5px;
}

.textarea textarea::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #9f9f9f;
}
@media (min-width: 768px) {
  .textarea textarea:first-of-type {
    border-right: none;
    border-bottom: 1px solid #999;
 }
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #999;
    border-top: none;
    padding: 10px 10px;
}

.controls .from,
.controls .to {
    display: flex;
}

.controls i {
    color: #9f9f9f;
    transition: all .4s ease;
    cursor: pointer;
    margin-right: 15px;
}
@media (max-width: 767px) {
  .controls .from i,
  .controls .to i {
    display: none;
  }
}

.controls .from i:last-child {
    border-right: 1px solid #999;
    padding: 0 15px;
}

.controls .to i:first-child {
    border-left: 1px solid #999;
    padding: 0 0 0 15px;
}

.controls i:hover {
    color: #000;
}

.controls .exchange i {
    margin-left: 20px;
}

.controls .from select {
    border: 0;
    margin-left: -10px;
    font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 767px) {
  .controls .from select {
    margin-left: 10px;
  }
  .controls .exchange i {
    margin-left: 15px;
  }
}
.controls .to select {
    border: 0;
    margin-right: 10px;
    font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controls select {
    border: 1px solid #999;
    padding: 4px 10px;
}

.controls select::-webkit-scrollbar {
    width: 8px;
}

.controls select::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 20px;
}

.controls select:focus {
    outline: none;
}
.btn button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: .15rem;
    border: 1px solid #999;
    color: #fff;
    background-color: #4298b5;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Poppins', Courier, monospace, sans serif;
}

.btn button:focus {
    outline: none;
}

.btn button:active {
    transform: scale(0.99);
}


















